<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/delormej/index.json" />
        <add key="local" value="../../jasondel.Tools/bin/Release" />        
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="delormej" />
            <add key="ClearTextPassword" value="4801520af89bba1bbbff0b25b9a40d5aa9655505" />
        </github>
    </packageSourceCredentials>
</configuration>